@model PowerBiEmbedded.Services.EmbeddedReportViewModel;
@{
    ViewData["Title"] = "Embedded Report";
}

<h2>@Model.Name</h2>

<div id="embed-container" style="height:800px; border: 1px solid #ccc;"></div>

@section Scripts {
    <!-- powerbi.min.js is the JavaScript file that loads the client-side Power BI JavaScript API library.
    Make sure that you're working with the latest library version.
    You can check the latest library available in https://cdnjs.com/libraries/powerbi-client -->
    <script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.21.0/dist/powerbi.min.js"></script>
    
    <!-- This script creates a JavaScript object named viewModel which is accessible to the JavaScript code in embed.js. -->
    <script>
        var viewModel = {
            reportId: "@Model.Id",
            embedUrl: "@Model.EmbedUrl",
            token: "@Model.Token"
        };
    </script>
    
    <!-- This script specifies the location of the embed.js file -->
    <script src="~/js/embed.js"></script>
} 